*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Russo One', sans-serif;
    font-family: 'Saira Condensed', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 30px;
}

body {
    margin: 0;
    background-color: rgb(0, 62, 116);  
}

.banderoll-content {
    
    display: flex;
    text-align: center;
    flex-direction:row;
    justify-content:space-between;
    font-size: 30px;
    background-color:#000026;
    margin:5px;
    padding-right: 20px;
}
.innehall {
justify-content:center;
}

a { 
    color: rgb(255, 255, 255);
    text-decoration-line:none;
    font-size: 30px;
    padding-left: 20px;
    text-align: center;
}

script {
    padding:15px;
}

.header-content {
    background-color:#000026;
    font-size: 30px;
    padding: 10px;
    margin: 50 px;
    display: flex;
    justify-content: space-evenly;
}


.images {
    display: flex;
    justify-content: space-around;
    flex-direction:row;
    
   
   
    
}

.links {
    display: flex;
    justify-content:space-evenly;
    font-size: 30px;
    text-decoration-line: none;
    padding-top: 20px;
    
}

.information {
    display: flex;
    align-items:center;
    flex-direction: column;
    font-size: 30px;
    text-decoration-line: none;
    padding: 15px;
    text-align: center;
}
 
.welcomepic {
display: flex;
justify-content: center;
}


@media (max-width: 576px){

body {
        margin: 0;
        font-size: 50px;
        background-color: rgb(0, 62, 116);  
    }
    .banderoll-content {
        display: flex;
        flex-direction:column;
        justify-content:center;
        font-size: 30px;
        background-color:#000026;
        margin:5px;
    }
   
    .welcomepic {
        display: flex;
        justify-content: center;
        
    }
    .welcomepic img {
        height: auto;
        max-width: 100%;
    }

a {
    color: rgb(255, 255, 255);
    text-decoration-line:none;
    justify-content: center;
}


    .header-content {
        
        background-color:#000026;
        font-size: 30px;
        padding: 5px;
        margin: 50 px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        }
    
    .content {
        display: flex;
        justify-content: space-around;
        align-items:center;
        flex-direction: column;
        font-size: 30px;
        margin: 5px;

    }

    .images {
        display: flex;
        flex-wrap: wrap;
        
    }
    .images img {
        height: auto;
        width: 100%;
    }
    .links {
            display: flex;
            align-items:center;
            flex-direction:column;
            justify-content:space-evenly;
            font-size: 30px;
            text-decoration-line: none;
            padding-top: 20px;
            
        }
        
    .kontakruta {
        display: flex;
        align-items: left
    }
    .information b a {
        font-size: 19px;
    }
}