*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Russo One', sans-serif;
    font-family: 'Saira Condensed', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 30px;
}

body {
    margin: 0mm;
    background-color: rgb(134, 199, 255);  
}

.banderoll-content {
    
    display: flex;
    align-items: center;
    flex-direction:row;
    justify-content:space-between;
    font-size: 30px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    background-color:#000026;
    margin:5px;
}

.innehall {
justify-content:center;
}

a { 
    color: rgb(255, 255, 255);
    text-decoration-line:none;
    font-size: 30px;
}

script {
    padding:15px;
}

.header-content {
    background-color:#000026;
    font-size: 30px;
    padding: 10px;
    margin: 50 px;
    display: flex;
    justify-content: space-evenly;
}


.images {
    display: flex;
    justify-content: space-evenly;
    flex-direction:row;
    height: auto;
    width: 100%;
   
    
}

.links {
    display: flex;
    justify-content:space-evenly;
    font-size: 30px;
    text-decoration-line: none;
    padding-top: 20px;
    
}

.information {
    display: flex;
    align-items:center;
    flex-direction: column;
    font-size: 30px;
    text-decoration-line: none;
    padding: 15px;
}
 



@media (max-width: 576px){

    body {
        margin: 0mm;
        font-size: 60px;
        background-color: rgb(134, 199, 255);  
    }

   

a {
    color: rgb(255, 255, 255);
    text-decoration-line:none;
    justify-content: center;
}


    .header-content {
        
        background-color:#000026;
        font-size: 30px;
        padding: 5px;
        margin: 50 px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        }
    .banderoll-content {
        display: flex;
        align-items: center;
        flex-direction:column;
        justify-content:space-between;
        font-size: 30px;
        padding-inline-start: 20px;
        padding-inline-end: 20px;
        background-color:#000026;
        margin:5px;
    }
    .content {
        display: flex;
        justify-content: space-around;
        align-items:center;
        flex-direction: column;
        font-size: 30px;
        margin: 5px;

    }

    .images {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        height: auto;
        width: 100%;

    }

    .links {
            display: flex;
            align-items:center;
            flex-direction:column;
            justify-content:space-evenly;
            font-size: 30px;
            text-decoration-line: none;
            padding-top: 20px;
            
        }
        
    .kontakruta {
        display: flex;
        align-items: left
    }
    
}